.input_box {
    position: relative;

    .input_icon {
        position: absolute;
        // top: 58%;
        // transform: translateY(-50%);
        right: 5px;
        font-size: 28px;
        color: #d3d3d3;
    }
}